/* GLOBAL STYLES */
html{
  font-family:Tahoma, Geneva, sans-serif
}
body{
  background-color: #FFE5B3;
  z-index: 1;
}

.flex-row{
  display: flex;
  justify-content:space-evenly;
  align-content: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

.nav-bar{
  z-index: 100;
  position: fixed;
  background-color: #F16767;
  justify-content: flex-end;
  width: 101.2%;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: -10px;
  right:-10px;
  left:-10px;
}

.nav-item{
  margin: 5px 5px;
  font-size: 25px;
  color:#FFE5B3;
  margin-right: 20px;
}

.contacts{
  position: relative;
  background-color: #F16767;
  width: 101.2%;
  justify-content: center;
  margin: 30px 0 0;
  right:-10px;
  left:-10px;
  bottom: -10px;
}

.icon{
  width:50px;
  height:50px;
  display: block;
  margin: 20px 15px;
}
/* HOMEPAGE STYLES */

.intro{
  height:100vh;
}

#greeting{
  font-size: 75px;
  text-align: center;
}

#name{
  color:#F16767;
}

#pronunciation{
  font-size: 50px;
  color:  #677880;
}

.project-square
{
  justify-content: center;
  position: relative;
  text-align: center;
}

.project-image{
  width: 75%
}

.project-title{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  opacity: 1.0;
  font-size: 25px;
  font-weight: bold;
}

.project-square:hover .project-image{
  opacity: .25;
}

.project-square:hover .project-title{
  display: block;
}

.about-me{
  justify-content: space-evenly;
}

#headshot{
  max-height: 400px;
  max-width: 300px;
}

.info{
  font-size: 20px;
}

.links{
    justify-content: space-evenly;
}

.link{
  display: block;
  text-align: center;
  background-color:  #F16767;
  font-size: 30px;
  background-size: auto;
  width: max-content;
  margin-top: 40px;
  color:#FFE5B3;
}

.link:hover{
  background-color: #F88378;
}

/* PROJECT PAGE STYLES */
.project-name{
  padding-top: 40px;
}

.project-bio{
  margin-top: 0px;
  width:40%;
  text-align: justify;
  font-size: 20px;
  background-color: #F9BF97;
  height: fit-content;
}

#tetris-image{
  width: 40%;
  height: 40%;
}

#applicomb-image{
  max-height: 80vh;
}

#drawing{
  max-width: 70%;
  margin-top: 20px;
}

/* BIO PAGE STYLES */

#bio-pic{
  max-height: 60vh;
  max-width: 90%;
}

.bio-text{
  text-align: justify;
  max-width: 520px;
  background-color: #F9BF97;
}
